/* -------------------------- main css file --------------------------  */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-style: normal;
  color: #072F58;
}
body{
  display: flex;
  flex-direction: column;
}

h1{
  font-size: 2rem;
  color: white;
  margin: 1rem 0;
  font-family: 'Varela Round', sans-serif;
}

h2{
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem 0;
  z-index: -1;
}

h3{
  font-size: 1rem;
  margin: 1rem 0;
  /*border-bottom: 0.05rem solid #ACD3EC;*/
}

h4{
  font-size: 0.8rem;
  margin: 0.2rem 0;
}

section{
  margin: 2rem 0;
}
section code {
  display: block;
  background-color: #EEE;
  padding: 0.5rem;
}

/* ----------------------- Submit Button ---------------------------- */
.button_submit{
  display: inline-block;
  padding: 1em 1em;
  color: white;
  background-color: #2F4E7C;
  text-decoration: none;
  border-radius: 0.25rem;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.button_submit:hover{
  background-color: #FFECC6;
  color: #072F58;
}
.button-nav:focus{
  background-color: #FFE5AD;
  color: #072F58;
}

.link_in_text{
  text-decoration: none;
  color: #86B8D9;
  font-weight: bold;
}
.link_in_text:hover{
  /* light blue */
  color: #F1AF23;
}
/* --------------------- Nav Bar ------------------- */
.header{
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;

  top: 0;
  left: 0;
  right: 0;
  width: 100%;

  background-color: #ACD3EC;

  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  z-index: 2;
}

.header h1{
  flex: 1;
  padding: 0.5rem 0;
  margin: 0 5%;
  float: left;
  z-index: 2;
}

.nav_main{
  overflow: hidden;
  float: right;
  margin-right: 5%;
  clear: right;
}

.nav_main ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.nav_main ul li{
  list-style-type: none;
  background-color: #ACD3EC;
  padding: 1rem 0.5rem;
  border-radius: 0.2rem;
  -webkit-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}

.nav_main ul li a{
  overflow: hidden;
  display: block;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
}
.nav_dropdown .nav_dropdown_button{
  border: none;
  outline: none;
  background-color: #ACD3EC;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.3rem;
  padding: 1rem 0.5rem;
  color: white;
  border-radius: 0.2rem;
}
.nav_dropdown:hover .nav_dropdown_button{
  background-color: #86B8D9;
}
.nav_dropdown_content{
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: #86B8D9;
  min-width: 10rem;
  border-radius: 0.2rem;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
}
.nav_dropdown_content a{
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 0.2rem 0.2rem;
}
.nav_dropdown_content a:hover{
  background-color: #86B8D9;
}
.nav_dropdown:hover .nav_dropdown_content{
  display: block;
}

.nav_main ul li:hover{
  /* orange  */
  background-color: #86B8D9;
}
.nav_main ul li:focus{
  /* orange  */
  background-color: #3B6CA0;
}

/* -------------------------- content ---------------------------*/
.content{
  width: 100%;
  max-width:1600px;
  margin:0 auto;
}


/* --------------------- footer --------------------- */
footer{
  background-color: #ACD3EC;
}
.footer{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.footer p{
    margin: 1rem 0;
}

.footer_l{
  margin: 1rem 2rem;
  flex: 1;
}
.footer_r{
  margin: 1rem 2rem;
  flex: 1;
}
input.button_submit{
  width: 10rem;
}


/* --------------------- Responsive view --------------------- */
/* --------------------- w:1920 desktop--------------------- */
@media only screen and (max-width: 1920px) {
  .content{
    width: 60%;
  }
  .package_course_details img{
    max-height: 10rem;
    width: auto;
  }

/* new code */
.home_content_details{
   max-height: 10rem;
    width: auto;

  }

  .home_content_details img{
    max-height: 10rem;
    width: auto;
  }

}

/* --------------------- w:1200 desktop --------------------- */
@media only screen and (max-width: 1200px) {
  .content{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }

  .package_course_details{
    padding: 2rem 2rem;
  }

  .package_course_details img{
    max-height: 8rem;
    width: auto;
  }

/* new code 

  .home_content_details{
   padding: 2rem 2rem;
  }

  .home_content_details img{
    padding: 2rem 2rem;

  }

 */
}

/* --------------------- w:600 tablet--------------------- */
@media only screen and (max-width: 600px) {
  .content{
    width: 70%;
  }

  h1{
    font-size: 1.5em;
  }
  h2{
    font-size: 1.2em;
  }

  h3 {
    font-size: 1em;
  }

  p {
    font-size: 0.8em;
  }
  code{
    font-size: 0.8em;
  }

  .product_img{
    width: 10rem;
  }

  #color_plate{
    width: 15rem;
  }

  .package_course_details{
    padding: 1rem 0.5rem;
  }
  .package_course_details img{
    max-width: 8rem;
    height:auto;
  }

  /* new code 

   .home_content_details{
    padding: 1rem 0.5rem;
  }

  .home_content_details img{
    max-width: 8rem;
    height:auto;
  }
*/

}
/* --------------------- w:300 phone --------------------- */
@media only screen and (max-width: 300px) {
  .content{
    width: 80%;
  }

  .package_course_details{
    padding: 1rem 0.5rem;
  }
  .package_course_details img{
    max-width: 8rem;
    height:auto;
  }

    /* new code 

 .home_content_details{
    padding: 1rem 0.5rem;
  }

  .home_content_details img{
     max-width: 8rem;
    height:auto;
  }

*/
}
